body
{
	background-color: #E1BB8A;
}

nav
{
	border-bottom:1px solid black;

}

nav li a:link
{
	color: #FFF;

}


nav li a:visited
{
	color: #FFF;
}

nav li a:hover
{
	color: #848400;
}

.main
{
	position: relative;
	height: auto;
}

a.pages {
	color: #422100;
	font-weight: bold;
	text-decoration: none;
}
li {
	display: inline;
	color: #422100;
	font-weight: bold;
	list-style-type: none;
	text-align: center;
}

h1, h2, h3, h4 {
	color: #562903;
	text-align: center;
}

.logo{
	text-align: center;
	color: #422100;
	background-color: #562903;
}

.navpages {
	color: #422100;
	font-weight: bold;
	display: inline;
	text-align: center;

}

#origin
{
padding-left: 370px;
}


aside
{
	background-color:#848400;
	text-align: center;
	width:220px;
	height:100%;
	right: 0;
	position: absolute;
}



.mainleft
{
float: left;
}



article
{
    padding:5px;
    margin-top:5px;
}

header
{
	background-color: 
    padding:0px;
    text-align:center;
}



section
{
    padding:5px;
    margin-top:5px;
}

section ul
{
	padding-left: 130px;
}

footer
{
	background-color: #D17519;
	height: 140px;
	clear: both;
    padding:5px;
    text-align:center;
    font-weight:bold;
}


ul li
{
    padding-left:5px;
    padding-right:5px;
    text-align:left;
    font-size:16px;
    font-weight:bold;
}

aside li
{
	text-align: center;


}

